body {
  height: 100%;
  width:800px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  width:750px;
}
footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

header nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 2px;
  font-size: 14px;
}
header img {
  padding: 15px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

header nav a {
  color: black;
  text-decoration: none;
}
  
  .top-content {
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px dashed black;
}
.boxes{
  display:flex;
  flex-wrap:wrap;
}
.box1{
  border-bottom: 1px dashed black;
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}
.box2{
  border-bottom: 1px dashed black;
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}
.box3{
  border-bottom: 1px dashed black;
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
 }
.box4{
  border-bottom: 1px dashed black;
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}
.learn{
  text-decoration:none;
  border:2px solid black;
  border-radius:10px;
  padding:5px 15px;
  color:black;
}